// src/css/quasar.variables.sass

$primary   : #801100
$secondary : #26A69A
$accent    : #9C27B0

$dark      : #ffffff
$dark-page : #241a1a

$positive  : #21BA45
$negative  : #C10015
$info      : #31CCEC
$warning   : #F2C037