// src/css/quasar.variables.sass

$primary   : #801100
$secondary : #26A69A
$accent    : #9C27B0

$dark      : #3a4149
$dark-page : #2f353a
$separator-dark-color : #21282c

$positive  : #21BA45
$negative  : #C10015
$info      : #31CCEC
$warning   : #F2C037

$grey : #23282c
$grey-1 : #2f353a
$grey-2 : #333a40
$grey-3 : #3a4149
$grey-4 : #73818f
$grey-5 : #8f9ba6
$grey-6 : #acb4bc
$grey-7 : #c8ced3
$grey-8 : #e4e7eae